body {
    padding-top: 0px;
    background: url("../PaperBG2.png");
    background-size: contain;
    color: #243d3a;
}
.hero-section {
    background: url("../couplebg2.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero-section h1 {
    font-family: "Parisienne";
    font-size: 9rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero-section p {
    font-family: "Playfair Display";
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.countdown {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Imagen responsiva con bordes redondeados en pantallas grandes */
.hero-image {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* Bordes redondeados por defecto */
}

/* Imagen en pantallas pequeñas (sin bordes redondeados) */
@media (max-width: 768px) {
    .hero-image {
    border-radius: 0; /* Sin bordes redondeados */
    width: 100%; /* Imagen ocupa todo el ancho */
    }
}

/* Altura personalizada para la sección de bienvenida */
.hero-section {
    min-height: calc(100vh - 70px); /* Altura ajustada al viewport menos el navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 2rem 1rem;
}

/* Imagen responsive */
img,
iframe {
    max-width: 100%;
    height: auto;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 992px) {
    .hero-section h1 {
        font-size: 6rem;
    }

    .hero-section p {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 40rem;
    }

    .hero-section h1 {
        font-size: 4rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .hero-section {
        height: 30rem;
        padding: 0 1rem;
    }

    .hero-section h1 {
        font-size: 3.6rem;
    }

    .hero-section p {
        font-size: 1rem;
    }
}

.instant-photo {
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    /*width: 80%;*/
    width: 22rem;
    padding-bottom: 4rem;
}

.instant-photo img {
    max-width: 100%;
    border-bottom: 8px solid #fff;
}

.instant-photo-nopad {
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    /*width: 80%;*/
    width: 22rem;
}

.instant-photo-nopad img {
    max-width: 100%;
    border-bottom: 8px solid #fff;
}

.instant-photo-text25 {
    font-family: 'Indie Flower';
    height: 25px;
    margin-bottom: 1rem !important;
}

.instant-photo-text50 {
    font-family: 'Indie Flower';
    height: 50px;
    margin-bottom: 1rem !important;
}

.carousel-indicators [data-bs-target] {
    background-color: #305030;
}

.carousel-caption {
    color: #305030;
    font-weight: bold;
}

.title {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #2E4235;
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.camera-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: #2E4235;
}